html, body {
    height: 100%;
}
body {
    background-color: #f5f8fa;
    color: #292f33;
    font-size: 16px;
    line-height: 18px;
    overflow-y: scroll;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
div {
    border: 0px solid black;
}
@font-face {
    font-family: 'rosettaicons';
    src: url('../font/rosetta-icons-Regular.eot');
    src: url('../font/rosetta-icons-Regular.eot?#iefix') format('embedded-opentype'),url('../font/rosetta-icons-Regular.woff') format('woff'),url('../font/rosetta-icons-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal
}
.icon--home:before {
    content: "\f053";
}
.icon--notifications:before {
    content: "\f055";
}
.icon--search:before {
    content: "\f058";
}
.icon--dm:before {
    content: "\f054";
}
.icon--tweet:before {
    content: "\f029";
}
.icon--translator:before {
    content: "\f089";
}
.icon--reply:before {
    content: "\f151";
}
.icon--retweet:before {
    content: "\f152";
}
.icon--dots:before {
    content: "\f150";
}
.icon:after, .icon:before {
    display: block;
    font-family: "rosettaicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.icon--large {
    font-size: 21px;
}
/* style : top bar start... */

/* 顶部最外层div */
.global-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    z-index: 1000;
    background: #ffffff;
    border-bottom: 1px solid #e3e5e6;
}

/* 顶部菜单外层容器 */
.top-container {
    width: 88%;
    height: 46px;
    min-width: 880px;
    margin: 0 6% 0 6%;
    text-align: center;
}
/* 顶部左边导航按钮 */
.top-nav-left {
    float: left;
    width: 250px;
    height: 46px;
}
.icon {
    position: relative;
    font-style: normal;
    display: inline-block;
    background: transparent;
    vertical-align: baseline;

}
#global-action > li {
    height: 46px;
    float: left;
    color: #66757f;
    overflow: hidden;
}

#global-action > li > a {
    height: 46px;
    padding: 0 10px;
    display: block;
    color: inherit;
    font-size: 13.5px;
    font-weight: 600;
    border-bottom: 5px solid #0084b4;
}
#global-action > li.active > a{
    height: 42px;
    color: #0084b4;
}
#global-action > li > a:hover, #global-action > li > a:focus{
    height: 42px;
    padding: 0 10px;
    display: block;
    color: #0084b4;
    font-size: 13.5px;
    border-bottom: 5px solid #0084b4;
}
#global-action > li > a .icon{
    float: left;
    margin: 12px 2px 0 2px;
}
#global-action > li > a .text{
    float: left;
    margin: 12px 2px 0 2px;
}
.active {
    color: #0084b4;
}
.text {
    color: inherit;
    line-height: 1.5
}
/* 顶部右边导航按钮 */
.top-nav-right {
    width: 384px;
    height: 46px;
    float: right;
}
input:hover{
    border-color: #5AB0DB;
    box-shadow: 0px 0px 5px #61C5FA;
}
input:focus{
    outline: none;
    border-color: #5AB0DB;
    box-shadow: 0px 0px 5px #61C5FA;
}
#form-search {
    height: 26px;
    width: 220px;
    color: #292f33;
    background: #F5F8FA;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    padding: 0 0 4px 15px;
    border: 1px solid #E3E5E6;
}
.search {
    float: left;
    margin-top: 7px;
    display: inline-block;
}
.search .search-btn {
    top: 13px;
    right: 232px;
    position: absolute;
}
/* 点击时将环绕的边框去掉 */
.white-border-btn:focus {
    outline: none;
}
.white-border-btn {
    border: 0;
    background: #f5f8fa;
}
.right-actions> li {
    float: left;
    margin: 6px 8px;
}
.me-btn {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}
.send-btn {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .6em 1.7em .5em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/* logo */
.logo-tuniu {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 6px;
    left: 50%;
}

/* style : top bar end... */

/* style: bottom nav start */

/* 底部外层div */
.global-bottom-outer {
    width: 100%;
    height: 100%;
    background: #f5f8fa;
}
/* 底部容器 */
.bottom-container {
    width: 88%;
    min-width: 880px;
    text-align: center;
    margin: 56px 6% 0 6%;
}
.content-inner {
    min-width: 300px;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    display: inline-block;

}
/* 底部左边 */
.bottom-left {
    float: left;
}
.user {
    height: 200px;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    background: #ffffff;
}
.user-top {
    height: 100px;
    background: #0084b4;
    border-radius: .5em .5em 0 0;
    -moz-border-radius: .5em .5em 0 0;
    -webkit-border-radius: .5em .5em 0 0;
}
#take-photo {
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 90px;
    width: 80px;
    height: 80px;
    background: #0084b4;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border: 3px solid #ffffff;
}
.take-photo-img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 10px;
}
.user-bottom {
    height: 100px;
    border: 2px solid #e3e5e6;
    border-top: 0;
    background: #ffffff;
    border-radius: 0 0 .5em .5em;
    -moz-border-radius: 0 0 .5em .5em;
    -webkit-border-radius: 0 0 .5em .5em;
}
.user-info {
    height: 46px;
}
#username {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 2px 0;
}
#email {
    color: #808182;
    font-weight: 700;
}
.myself-msg {
    margin: 10px;
}
.myself-msg > .myself-list >li {
    float: left;
    color: #66757f;
    margin: 0 25px 0 25px;
}
.msg {
    font-size: 13px;
}
.msg-color {
    font-weight: 600;
    color: #0084b4;
}
.relative-msg {
    margin-top: 8px;
    min-height: 300px;
    text-align: left;
    text-align: inherit;
    text-align: -webkit-left;
}
.relative-inner {
    margin: 0 15px;
}
.hot-title {
    color: #808182;
    font-size: 19px;
    font-weight: 600;
    margin: 20px 0 10px 0;
}
.radius_b {
    background: #ffffff;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border: 1px solid #e3e5e6;
}
.relative-list > li {
    margin-bottom: 5px;
}
.relative-list > li > a{
    color: #0084b4;
    font-size: 14px;
}
/* 底部右边 start*/
.bottom-right {
    float: right;
}
.attention {
    height: 280px;
    text-align: left;
    text-align: inherit;
    text-align: -webkit-left;
}
.attention-content {
    display: inline-block;
}
.attention-info {
    margin-bottom: 11px;
}
.attention-photo {
    float: left;
    width: 52px;
    height: 52px;
    margin: 5px 8px 0 0;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
}
.attention-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.attention-name {
    color: black;
    font-weight: bold;
}
.attention-msg {
    font-size: 14px;
    color: #66757f;
}
.attention-inner {
    margin-top: 2px;
}
.attention-btn {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 1.6em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.attention-btn:hover {
    text-decoration: none;
}
.attention-btn:active {
    position: relative;
    top: 1px;
}
/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #339CC3;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#339CC3));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #339CC3;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#339CC3));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.relative-blog{
    margin-top: 8px;
    height: 80px;
}
/* 底部右边 end*/

/* 主要内容 */
#main {
    height: 100%;
    min-width: 570px;
    text-align: left;
    background: #ffffff;
    border: 1px solid #e3e5e6;
}
#main:hover {
    background: #f5f8fa;
}
.user-box {
    height: 54px;
    background: #e0eff5;
}
.user-home-img {
    float: left;
    display: inline-block;
    margin: 12px 0 6px 30px;
}
#user-send-content {
    width: 408px;
    height: 34px;
    background: #ffffff;
    padding: 1px 0 1px 6px;
    border: 1px solid #8dd3ef;
    margin: 10px 10px 10px 8px;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
}
.send-photo {
    width: 30px;
    height: 30px;
}
.send-photo-outer {
    position: relative;
    top: 10px;
    right: 18px;
    width: 68px;
    height: 34px;
    padding-top: 2px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #8dd3ef;
    border-left: 0;
}
.attention-info-box{
    border-bottom: 1px solid #e3e5e6;
}
.attention-info-inner {
    margin: 10px;
}
.icon--translator {
    float: right;
    color: #8899a6;
    cursor: pointer;
}
.attention-push-msg {
    width: 476px;
    font-size: 14px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.attention-push-msg:hover{
    -webkit-line-clamp: initial;
}
.attention-img-box {
    margin: 30px 0 0 48px;

}
.attention-upload-img {
    width: 480px;
    height: 510px;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
}
.stream-item-footer {
    height: 30px;
}
.def-color {
    color: #7d7587
}
.def-color:hover {
    color: #77b255;
}
.counts {
    font-size: 14px;
    margin-left: 5px;
    display: inline-block;
}
.icon--love {
    width: 18px;
    height: 18px;
    background: url(../img/iconfont-aixin-heise.png);
    background-size: contain;
}
.icon--love:hover {
    width: 18px;
    height: 18px;
    background: url(../img/iconfont-aixin.png);
    background-size: contain;
}
.stream-item-footer > .myself-list > li {
    margin: 0 60px 0 0;
}
/* style: bottom nav end */