<style>
    .circle {
        position: relative;
        margin-top: 0px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .green{
        background: green;
    }
    .yellow{
        background: yellow;
    }
    .rightTag{
        width: 150px;
    }
    .formRow{

        display: inline;
    }
    h3{
        text-align: center;
    }

</style>
<div>
    <div class="" style="align:center;margin-top:30px;margin-bottom:20px;width:60%">
        <h3 align="center ">新建请求</h3>
        <form class="form-horizontal" style="margin-left:40px">
            <input type="hidden" ng-model="object.id" />
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="controls">
                        <label>收运时间</label>
                        <ui-select  ng-model="collectionTimes.selected" theme="select2"  style="width:80px;display: inline-table" required>
                            <ui-select-match  placeholder="選擇貨單類型">{{$select.selected.collectionTime}}</ui-select-match>
                            <ui-select-choices repeat="order in collectionTimes " position="down">
                                <div ng-bind-html="order.collectionTime | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="controls">
                        <label>收运类型</label>
                        <ui-select  ng-model="garbageTypes.selected" theme="select2"  style="width:80px;display: inline-table" required>
                            <ui-select-match  placeholder="選擇貨單類型">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="order in garbageTypes " position="down">
                                <div ng-bind-html="order.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <div class="controls">
                        <label>联系人</label>
                        <ui-select  ng-model="contacts.selected" theme="select2"  style="width:80px;display: inline-table" required>
                            <ui-select-match  placeholder="選擇貨單類型">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="order in contacts " position="down">
                                <div ng-bind-html="order.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <div class="controls">
                        <label>联系电话</label>
                        <ui-select   ng-model="contacts.selected" theme="select2"  style="width:80px;display: inline-table" required>
                            <ui-select-match  placeholder="選擇貨單類型">{{$select.selected.mobile}}</ui-select-match>
                            <ui-select-choices repeat="order in contacts " position="down">
                                <div ng-bind-html="order.mobile | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="controls">
                        <label>数量（桶）</label>
                        <input  ng-model="object.quantity" type="number"  required />
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group" align="center">
                    <div class="controls">
                        <!--<button class="btn btn-default" ng-click="back()"><span translate="">返回</span></button>-->
                        <button type="submit" class="btn btn-success" ng-click="save()"><span translate="SAVE">保存</span></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">今日请求<div class="formRow rightTag" style="float:right"><div class="formRow"><label class="circle green"></label>未完成</div> <div class="formRow"><label class="circle yellow "></label>已完成</div></div></div>
                <table class="table table-hover table-bordered">
                    <thead><th>状态</th><th>收运时间</th><th>联系人</th><th>联系电话</th><th>数量</th><th>操作</th></thead>
                    <tbody ng-repeat="item in requestList">
                        <tr class="active">
                            <td ><div ng-if="item.status==0" class="circle yellow"></div><div ng-if="item.status!=0" class="circle green"></div></td>
                            <td >{{item.collectionTime}} </td>
                            <td >{{item.name}}</td>
                            <td >{{item.mobile}}</td>
                            <td >{{item.quantity}}</td>
                            <td ><div ng-if="item.id!=1"><button ng-click="delete(item.id)">删除</button><button ng-click="updateForm(item.id)">修改</button></div></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div style="width:35%;float:right">
        <div id="exceptionChart" style="height:350px;"></div>
        <div id="collectionChart" style="height:350px;"></div>
        <div id="timeChart" style="height:350px;"></div>
    </div>
</div>